<title><%= title %></title>

<style>
    body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     line-height: 1.6;
     background-color: #f8f9fa;
    }
  
    h1, h2, h3, h4, h5, h6 {
     margin-top: 0;
     font-weight: 700;
    }
  
    .header {
     background-color: #343a40;
     color: #fff;
     padding: 20px;
    }
  
    .header h1 {
     font-size: 36px;
    }
  
    .section {
     margin-top: 50px;
     margin-bottom: 50px;
    }
  
    .section-heading {
     font-size: 24px;
     font-weight: 700;
     margin-bottom: 30px;
    }
  
    .about-us-content {
     font-size: 18px;
     line-height: 1.8;
     color: #444;
     margin-bottom: 30px;
    }figure{
        margin-right: 20px;
    }
  
</style>
<header class="header">
    <div class="container" style="text-align: center;">
        <h1 class="title has-text-white">About Us</h1>
    </div>
</header>
<section class="section">
    <div class="container">
      <h1 class="title">About Instagram Video Downloader</h1>
      <p>
        Instagram Video Downloader is a web application that allows users to download videos from Instagram. Simply enter the URL of an Instagram video and click the "Download Video" button to save the video to your computer.
      </p>
      <br>
      <h1 class="subtitle">How It Works</h1>
      <p>
        Instagram Video Downloader uses the Instagram video URL to fetch the HTML of the Instagram page, extracts the video title, thumbnail URL, and video URL from the HTML using regular expressions, downloads the video file to the server using a stream and saves it to the public/videos directory, and finally sends the downloaded video file to the user's browser for download.
      </p>
      <br>
      <h1 class="subtitle">Technologies Used</h1>
      <ul style="display: flex;flex-direction: row;justify-content: center;" >
        <figure class="image is-128x128">
            <img src="https://img.shields.io/badge/-Node.js-339933?logo=node.js&logoColor=white&style=flat-square" alt="Node.js">
        </figure>
        <br>
        <figure class="image is-128x128">
            <img src="https://img.shields.io/badge/-Express.js-000000?logo=express&logoColor=white&style=flat-square" alt="Express.js">
        </figure>
        <br>
        <figure class="image is-128x128">
            <img src="https://img.shields.io/badge/-Nodemailer-4ABBF2?logo=nodemailer&logoColor=white&style=flat-square" alt="Nodemailer">
        </figure>
        <br>
        <figure class="image is-128x128">
            <img src="https://avatars.githubusercontent.com/u/7857356?s=200&v=4" alt="Axios">
        </figure>
        <br>
        <figure class="image is-128x128">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma Css">
        </figure>
        <br>
      </ul>
    </div>
</section>
