<title><%= title %></title>
<% if (message) { %>
  <div class="popup-form" id="myForm">
    <div class="popup-content">
      <div class="close-button" onclick="closeForm()">&times;</div>
      <h2> <%= message %></h2>
    </div>
  </div>
<% } %>
<section class="section">
  <div class="container">
    <h1 class="title">Instagram Video Downloader</h1>
    <form method="POST" action="/convert-video">
      <div class="field">
        <label class="label">Enter Instagram-Video Link:</label>
        <div class="control">
          <input class="input" type="text" name="url" placeholder="eg: https://www.instagram.com/p/BzXqg-Yh4Nk/" required>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">
            <span class="icon">
              <i class="fas fa-file-video"></i>
            </span>
            <span>Convert to Video</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
