<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/d1ecb2e7fa.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <style>
    .popup-form {
        display: block;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

  .popup-content {
    background-color: #ff0000;
    margin: 5% auto;
    padding: 10px;
    color: white;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    border-radius: 20px;
  }

  .close-button {
    color: #e7e2e2e2;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .close-button:hover {
    color: #ffffff;
  }
  /* Responsive design */
  @media screen and (max-width: 600px) {
    .popup-content {
      width: 80%;
    }
    
  }
  </style>
  
</head>
<body>
    <header>
        <%- include('_header') %>
    </header>

    <main style="min-height: 60vh;">
        <%- body %>
    </main>

    <footer>
        <%- include('_footer') %>
    </footer>


    <script>
        // Get the navbar burger element
        const navbarBurger = document.querySelector('.navbar-burger');
        // Get the navbar menu element
        const navbarMenu = document.querySelector('.navbar-menu');
        // Add an event listener to the navbar burger
        navbarBurger.addEventListener('click', () => {
          // Toggle the "is-active" class on both the navbar burger and the navbar menu
          navbarBurger.classList.toggle('is-active');
          navbarMenu.classList.toggle('is-active');
        });
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
    </script>
</body>
</html>