<title><%= title %></title>
<section class="section">
    <div class="container">
      <h1 class="title">Privacy Policy</h1>
      <p>
        Instagram Video Downloader respects your privacy. This privacy policy explains what information we collect, how we use it, and how we protect it.
      </p>
      <br>
      <h2 class="subtitle">What Information We Collect</h2>
      <p>
        When you use Instagram Video Downloader, we may collect the following information:
      </p>
      <br>
      <ul>
        <li>Your IP address</li>
        <li>The Instagram video URL you entered</li>
        <li>The video title and thumbnail URL of the Instagram video</li>
      </ul>
      <p>
        We do not collect any personal information, such as your name or email address.
      </p>
      <br>
      <h2 class="subtitle">How We Use Your Information</h2>
      <p>
        We use your information to provide the Instagram video download service, and to improve and analyze our service. We do not share or sell your information to third parties.
      </p>
      <br>
      <h2 class="subtitle">How We Protect Your Information</h2>
      <p>
        We use industry-standard security measures to protect your information, such as HTTPS encryption and secure servers. However, no method of transmission over the internet or electronic storage is completely secure, so we cannot guarantee absolute security.
      </p>
      <br>
      <h2 class="subtitle">Changes to This Policy</h2>
      <p>
        We may update this privacy policy at any time, without notice. Any changes will be posted on this page.
      </p>
      <br>
    </div>
  </section>