
<title><%= title %></title>
  
<section class="section">
    <div class="container">
      <h1 class="title">Terms & Conditions</h1>
      <p>
        By using Instagram Video Downloader, you agree to the following terms and conditions:
      </p>
      <ol>
        <br>
        <li>Instagram Video Downloader is provided as-is, with no warranties or guarantees of any kind.</li>
        <li>Instagram Video Downloader may be used for personal, non-commercial use only.</li>
        <li>Instagram Video Downloader may not be used to download copyrighted content without permission from the content owner.</li>
        <li>Instagram Video Downloader may not be used for any illegal or unethical purpose.</li>
        <li>Instagram Video Downloader may collect user data for analytics purposes, but will not share or sell user data to third parties.</li>
        <li>Instagram Video Downloader may modify or discontinue the service at any time, without notice.</li>
        <li>By using Instagram Video Downloader, you agree to indemnify and hold harmless the developer and any affiliated parties from any and all claims, damages, and expenses.</li>
        <li>These terms and conditions may be updated at any time, without notice.</li>
      </ol>
      <br>
      <h2 class="subtitle">Governing Law</h2>
      <p>These Terms are governed by and construed in accordance with the laws
            of the jurisdiction in which we are located, without giving effect to any principles of conflicts of law. Any dispute arising out of or in connection with these Terms shall be resolved by arbitration in accordance with the rules of the arbitration organization we select.
       </p>
       <br>
     <h2 class="subtitle">Use of the Service</h2>
    <p>You may use our Service for personal or commercial purposes, as long as you comply with these Terms. You must not use our Service for any illegal or unauthorized purpose. You agree to comply with all applicable laws and regulations when using our Service.</p>
    <br>
    <h2 class="subtitle">Intellectual Property</h2>
    <p>All intellectual property rights in the Service, including without limitation the software, graphics, user interface, and website content, are owned by or licensed to us. You must not reproduce, modify, distribute, or create derivative works of any part of the Service without our prior written consent.</p>
    <br>
    <h2 class="subtitle">User-Generated Content</h2>
    <p>You are solely responsible for any content that you upload or download using our Service. You must not upload or download any content that is illegal, offensive, or infringes the rights of any third party.</p>
    <br>
    <h2 class="subtitle">Privacy</h2>
    <p>We respect your privacy and are committed to protecting your personal information. We may collect and use your personal information in accordance with our Privacy Policy, which is available on our website.</p>
    <br>
    <h2 class="subtitle">Disclaimer of Warranties</h2>
    <p>Our Service is provided "as is" and we make no warranties, express or implied, regarding its quality, accuracy, reliability, suitability, availability, or performance. We do not warrant that the Service will meet your requirements or that it will be uninterrupted, error-free, or free from harmful components.</p>
    <br>
    <h2 class="subtitle">Limitation of Liability</h2>
    <p>We will not be liable for any damages arising out of or in connection with your use of the Service, including but not limited to direct, indirect, incidental, punitive, and consequential damages. We will not be liable for any loss of profits, revenue, data, or use.</p>
    <br>
    <h2 class="subtitle">Indemnification</h2>
    <p>You agree to indemnify and hold us harmless from any and all claims, damages, liabilities, costs, and expenses (including reasonable attorneys' fees) arising out of or in connection with your use of the Service or your violation of these Terms.</p>
    <br>
    <h2 class="subtitle">Modification of Terms</h2>
    
    <p>We reserve the right to modify these Terms at any time without prior notice. Your continued use of the Service following any such modification constitutes your acceptance of the modified Terms.</p>
    <br>
    <h2 class="subtitle">Contact Us</h2>
      
     <p>
        If you have any questions or comments about these Terms or our Service, please contact us at <a href="mailto:smartds2550@gmail.com">smartds2550@gmail.com</a>.
     </p>
     <br>
    </div>
  </section>