<title><%= title %></title>
<% if (message) { %>
    <div class="popup-form" id="myForm">
      <div class="popup-content">
        <div class="close-button" onclick="closeForm()">&times;</div>
        <h2> <%= message %></h2>
      </div>
    </div>
  <% } %>
<section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="box">
        <h1 class="title is-1 has-text-centered"><%= videoTitle %></h1>
        <div class="columns is-centered">
          <div class="column is-two-thirds">
            <div class="card">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img src="<%= thumbnail %>" alt="Video thumbnail">
                </figure>
              </div>
              <div class="card-content">
                <p class="subtitle is-3">Video Download Link:</p>
                <a href="<%= downloadLink %>" class="button is-info is-fullwidth">Download <%= fileName %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    const player = videojs('video');
    player.play();
  </script>
